<div class="container">
 
  <div class="row">
    <div class="col-3">
     


      <div class="trending-categories">
        
        <!-- <app-tutorial-list (itemDetailsEmitter)="renderArticles($event)" [tutorial]="tutorial"></app-tutorial-list> -->
      
      </div>
    </div>
    <div class="col-8" >
     
          <div class="card article-list" style="width: 68rem;margin-bottom: 12px;">
            <div class="card-body">
              <h6 class="fw-bold">{{selectedArticle.heading}}</h6>
              <p class="card-text">{{selectedArticle.text}}</p>
            </div>
          </div>

      
    </div>
  </div>
</div>



