mat-card {
    width: 90%;
    margin: 2em auto;
    text-align: center;
  }
  
  mat-form-field {
    display: block;
    margin: auto;
  }
  label {
    display: block;
    text-align: left;
  }
  button {
    margin-top: 2%;
  }
  