
  <div class="pre-nav-header px-5">
    <div class="pre-nav-links-left">
      <a class="nav-link" href="#"><i class="fa-solid fa-house px-2"></i>Home</a>
      <a class="nav-link" href="#"><i class="fa-solid fa-code px-2"></i>Coding Ground</a>
      <a class="nav-link" href="#"><i class="fa-solid fa-suitcase px-2"></i>Jobs</a>
      <a class="nav-link" href="#"><i class="fa-solid fa-chalkboard px-2"></i>Whiteboard</a>
      <a class="nav-link" href="#"><i class="fa-solid fa-screwdriver-wrench px-2"></i>Tools</a>
    </div>
    
    <div class="pre-nav-links-right">
      <a class="nav-link" href="#"><i class="fa-solid fa-chalkboard-user px-2"></i>Teach With Us</a>
      <a class="nav-link" href="#"><i class="fa-brands fa-facebook"></i></a>
      <a class="nav-link" href="#"><i class="fa-brands fa-twitter"></i></a>
      <a class="nav-link" href="#"><i class="fa-brands fa-linkedin"></i></a>
      <a class="nav-link" href="#"><i class="fa-brands fa-instagram"></i></a>
      <a class="nav-link" href="#"><i class="fa-brands fa-youtube"></i></a>
    </div>
  </div>