<app-hero></app-hero>
<div class="home_stats">
  <app-stats  [icon]="'fa-crown'"
  [backgroundColor]="'#0196da'"
  [statsNumber]="'8000+'"
  [statsTitle]="'Premium Courses'"></app-stats>
  <app-stats
  [backgroundColor]="'#91d041'"
  [statsNumber]="'1200+'"
  [statsTitle]="'Expert Tutors'"></app-stats>
  <app-stats  
  [icon]="'fa-brands fa-square-youtube'"
  [backgroundColor]="'#ffe529'"
  [statsNumber]="'30M+'"
  [statsTitle]="'Learners Enrolled'"></app-stats>
  <app-stats
  [icon]="'fa-certificate'"
  [backgroundColor]="'#f46f14'"
  [statsNumber]="'1.2M+'"
  [statsTitle]="'Certificates Delivered'"></app-stats>
</div>
<app-tabs></app-tabs>
<app-coding-ground></app-coding-ground>
<app-home-tutorials-library></app-home-tutorials-library>
<app-top-categories></app-top-categories>
<app-certifications></app-certifications>
<app-latest-courses></app-latest-courses>
<app-tools></app-tools>
<app-feedback></app-feedback>
