<section class="coding mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="../../../../assets/images/coding-groundhero.svg" alt="">
            </div>
            <div class="col">
                <div class="d-flex">
                    <div class="coding_heading">
                        Coding Ground For <div class="coding_heading_sub">Developers</div>
                    </div>
                </div>
                <div class=" mb-3 mt-1">
                   <div class="coding_quote">Code, Edit, Run, and Share</div>
                </div>
                <div class="mt-3 text-white mb-2">
                    Practice the program you learn on the go with our sought-after Coding Ground. Access our vast collection of editors, terminals, compilers, and interpreters for free!
                </div>
                <button class="btn btn-lg ">Go To Coding Ground</button>
            </div>
        </div>
    </div>
</section>