<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/f500dc0d-177d-4393-87c4-047c5c9ec078/resourceGroups/learn-cd9eb478-8f85-42e2-946c-16e61b6dc99d/providers/Microsoft.ApiManagement/service/EduServicesapi1/apis/EduServices</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/f500dc0d-177d-4393-87c4-047c5c9ec078/resourcegroups/learn-cd9eb478-8f85-42e2-946c-16e61b6dc99d/providers/Microsoft.Web/sites/EduServices20240402231410</ResourceId>
    <ResourceGroup>learn-cd9eb478-8f85-42e2-946c-16e61b6dc99d</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://eduservices20240402231410.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>5383303e-0093-4096-b67b-f50483f8c149</ProjectGuid>
    <PublishUrl>https://eduservices20240402231410.scm.azurewebsites.net/</PublishUrl>
    <UserName>$EduServices20240402231410</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>