<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/ad15bc3f-9cc6-4224-be71-adc92553519c/resourceGroups/NAGP/providers/Microsoft.Web/sites/tutorial-fip</ResourceId>
    <ResourceGroup>NAGP</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://tutorial-fip.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>5383303e-0093-4096-b67b-f50483f8c149</ProjectGuid>
    <PublishUrl>https://tutorial-fip.scm.azurewebsites.net/</PublishUrl>
    <UserName>$tutorial-fip</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>